[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mle.tools"]
	path = mle.tools
	url = https://github.com/cran/mle.tools
[submodule "ugomquantreg"]
	path = ugomquantreg
	url = https://github.com/cran/ugomquantreg
[submodule "vasicekreg"]
	path = vasicekreg
	url = https://github.com/jmazucheli/vasicekreg
