[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mle.tools"]
	path = mle.tools
	url = https://github.com/cran/mle.tools
	shallow = true
	registered = true
[submodule "ugomquantreg"]
	path = ugomquantreg
	url = https://github.com/cran/ugomquantreg
	shallow = true
	registered = true
[submodule "vasicekreg"]
	path = vasicekreg
	url = https://github.com/cran/vasicekreg
	shallow = true
	registered = true
